*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(1, 1, 14);
    color: white;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px 2px rgb(36, 35, 35);
    padding: 20px;
    background-color:rgb(1, 1, 14);
    cursor: pointer;
}
.ulist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
#menuList li a{
    margin-inline: 15px;
    text-decoration: none;
    color: white;
}
#menuList{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 62px;
    margin-top: 6px;
    margin-inline: 20px;
}
#menuList li button{
    width: 100px;
    height: 34px;
    background-color: rgb(143, 158, 30);;
    /* border: 2px solid white; */
    border: none;
    color: white;
    font-size: 18px;
    /* border-radius: 2px; */
}
#menuList button:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    color: rgb(143, 158, 30);;
     
}
#menuList li a:hover{
    color: rgb(143, 158, 30);;
    border-bottom: 2px solid rgb(143, 158, 30);;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23px;
    margin-right: 90px;
    margin-top: 3px;
    font-size: 23px;
    color: rgb(143, 158, 30);;
}
.logo h1 {
    margin-top: -3px;
}
#menuList li{
    list-style: none;
}

.icon {
    display: none;
}



.icon i{
    color: white;
    font-size: 25px;
}

.close {
    display: none;
}


/* UPPER SECTION */

 @keyframes appear {
       from{ 
        opacity: 1;
        scale: 0.5; 
        /* opacity: 0;
        transform: translateX(-100px); */
    }
    to{
         opacity: 1;
        scale: 1; 
        /* opacity:1;
        transform: translateX(0px); */
    }
    }
.upper-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     animation-name:slideLeft;
    animation-duration: 3s;
}
@keyframes slideLeft {
   from{transform:translateX(300%)}
}
.upper-img img {
    width: 80%;
    margin-top: 120px;
    border-radius: 10px;

     animation:appear 5s linear;
        animation-timeline:view();
        animation-range: entry 0% cover 40%;
}
.text {
    width: 98%;
}
h1 {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 35px;
    color: rgb(143, 158, 30);;
    text-align: center;
}
p {
    font-size: 20px;
    margin-left: 30px;
}
li {
    font-size: 20px;
    margin-left: 60px;
}
hr {
    margin-left: 20px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}

h2 {
    font-size: 25px;
    color: rgb(143, 158, 30);
    margin-left: 20px;
}
h4 {
    font-size: 20px;
    color: rgb(143, 158, 30);;
    margin-left: 30px;
}
.bench, .chin-up, .dumbbell-press, .abduction, .curl, .push-up, .lateral, .barbell, .face {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
     animation:appear 5s linear;
        animation-timeline:view();
        animation-range: entry 0% cover 40%;
}
    .text1 {
        width: 40%;
        margin-right: 20px;
        margin-left: 20px;
    }
h3 {
    font-size: 25px;
    color: rgb(143, 158, 30);;
    text-align: center;
}
#ul {
    font-size: 22px;
    color: rgb(143, 158, 30);;
    margin-left: 30px;
    font-weight: bold;
}
#ul li {
    font-size: 18px;
    color: white;
    font-weight: normal;
    margin-left: 30px;
}
b {
    color: rgb(143, 158, 30);;
}
.video {
    width: 60%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 60%;
    border-radius: 10px;
}



/* Footer */

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 11px;
    box-shadow: 0px 2px 8px 2px rgb(73, 72, 72);

}
.footer .footerText{
    margin-inline: 70px;
    margin-top: -60px;
    margin-bottom: 33px;
}
.footerText p{
    top: 12px;
}



@media only  screen and (max-width: 768px) {
    #menuList{
        width: 100%;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgb(1, 1, 14);
        gap: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon {
        display: block;
        margin-right: 60px;
    }
    #menuList {
        transition: all 0.5s;
    }
    .logo h1 {
        font-size: 23px;
        margin-left: -30px;
    }
    ul li button{
        width: 90px;
        height: 24px;
        font-size: 12px;
    /* border-radius: 2px; */
    }


    /* UPPER SECTION */

    .upper-img {
        width: 100%;
    }
    .upper-img img {
        width: 80%;
        margin-top: 100px;
        
    }
    .text {
        width: 98%;
    }
    h1 {
        margin-top: 30px;
        margin-left: 15px;
        font-size: 20px;
    }
    p {
        font-size: 14px;
        margin-left: 20px;
    }
    li {
        font-size: 14px;
        margin-left: 40px;
    }
    hr {
        margin-left: 10px;
    }
    h2 {
        font-size: 20px;
        margin-left: 15px;
    }
    h4 {
        font-size: 18px;
        margin-left: 20px;
    }
    .bench, .chin-up, .dumbbell-press, .abduction, .curl, .push-up, .lateral, .barbell, .face {
        flex-direction: column;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .text1 {
        width: 90%;
        margin-right: 15px;
        margin-left: 15px;
    }
    h3 {
        font-size: 16px;
        margin-top: 40px;
    }
    #ul {
        font-size: 16px;
        margin-left: 30px;
    }
    #ul li {
        font-size: 14px;
        margin-left: 20px;
    }
    .video {
        width: 90%;
    }
    video {
        width: 70%;
    }


    /* FOOTER */

    .footer{
        width: 100%;
        margin-top: 2px;
        padding: 3px;
        box-shadow: grey; 
        box-shadow: 0px 2px 8px 2px rgb(73, 72, 72); 
    }
    .footer .footerText{
        margin-inline: 2px;
        margin-top: 15px;
        margin-bottom: 23px;
    }
    .footerText p{
        top: 15px;
        font-size: 10px;
    }
    .footerText h2 {
        font-size: 12px;
    }
}